{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Welcome to dhamaka sale</h1>
{% endblock content %}

{% block body %}
{% load static %}

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
  <div class="container">

    <div class="section-title">
      <h2>Welcome to Our shop</h2>
      <h3>Check our <span>Product</span></h3>
    </div>

    {% for product, range, nSlides in allProds %}

    <h3 class="my-3 text-center text-success bg-light">{{product.0.catagory}} FlashSale</h3>

    <div class="container">
      <div class="row">
        {% for i in product %}
        <div class="col-md-3 mt-3">
          <img src="../media/{{i.image}}" class="card-img-top" alt="Not found" height="200px" width="150px">
          <div class="card-body">
            <h5 class="card-title" id="namepr{{i.product_id}}">{{i.product_name}}</h5>
            <p class="card-text">{{i.desc|slice:"0.53"}}...</p>
            <h6 class="card-title">Price:<span id="pricepr{{i.product_id}}">{{i.price}}</span></h6>
            <span id="divpr{{i.product_id}}" class="divpr">
              <button id="pr{{i.product_id}}" class="btn btn-danger btn-sm mt-0">AddToCart</button>
            </span>

            <a href="../media/{{i.image}}">
              <button class="btn btn-dark btn-sm cart">View</button>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    {% endfor %}
  </div>
</section><!-- End Portfolio Section -->


{% endblock body %}